<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">    
	<title>EventApp</title>
	 <link href="css/app.css" rel="stylesheet" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
    <link  rel="stylesheet" type="text/css" href="css/font-awesome.min.css" ></link>
    <link rel="stylesheet" type="text/css" href="css/angular-toastr.css" />
    <link rel="stylesheet" href="css/angularjs-datetime-picker.css" />
	<style>
		img.icons{ width: 25px}
        .navbar-brand.lgo{padding-top: 18px;}
        input.ng-invalid.ng-dirty {background-color: pink}
	</style>
</head>

<body ng-app="eventApp">
	<div class="container">
		<div class="navbar ">
			<div class="navbar-inner">
                <ul class="nav">
					<li class="nav-item">
						<a class="navbar-brand" href="http://localhost:1337/">Angular </a>
					</li>
				</ul>
				<ul class="nav">
					<li class="nav-item active"><a href="/newEvent.html">Create Event</a></li>
                </ul>
                <ul class="nav">
                    <li class="nav-item "><a href="/EditProfile.html">Edit Profile</a></li>
                </ul>
			</div>
        </div>
        <div ng-controller="EditEventController" style="padding-left:20px; padding-right:20px ">
            <div class="container">
                <h1>New Event</h1>
                <hr>
                <flash-message class="flash-fixed"></flash-message>
                <div id="result"></div>
                <form name="newEventForm">
                    <fieldset>
                        <label for="eventName "> Event Name</label>
                        <input type="text" required id="eventName" ng-model="event.name" placeholder="Name of your Event">
                        <label for="eventDate "> Event Date</label>
                        <input type="text" required id="eventdate" ng-model="event.date" datetime-picker ng-model="model" placeholder="Date" date-format="yyyy-MM-dd" date-only>
                        <label for="eventTime"> Event Time</label>
                        <input type="text" required id="eventTime"  ng-model="event.time" placeholder="Start and end time">
                        <label for="eventLocation "> Event Location</label>
                        <input type="text" required id="eventLocation" ng-model="event.location.address" placeholder="Address of event...">
                        <label for="eventCity"> Event City</label>
                        <input type="text" required id="eventCity" ng-model="event.location.city" class="input-small" placeholder="City">
                        <input type="text" id="eventState" ng-model="event.location.state" class="input-small" placeholder="State">
                        
                        <label for="eventImgUrl "> Event Location</label>
                        <input type="url" required id="eventImgUrl" ng-model="event.imageUrl" class="input-xlarge" placeholder="URL of Image">
                    </fieldset>
                    <img ng-src="{{event.imageUrl}}" alt=""> <br><br>
                    <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event,newEventForm)" class="btn btn-primary">save</button>
                    <button type="button" ng-click="cancelEvent()" class="btn btn-default">Cancel</button>
                </form>
            </div>
        </div>
        
	</div>
    
    
    <!-- external scripts -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-animate.js"></script>
    <script type="text/javascript" src="js/lib/angular-toastr.tpls.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/angularjs-datetime-picker.js"></script> 
    
    <!-- application scripts -->
    <script src="js/app.js"></script>
    <script src="js/controller/EditEventController.js"></script>
    <script src="js/services/EventData.js"></script> 
    <script src="services/toastr-flash.js"></script> 
 
</body>
</html>